* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.market-research {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.market-research > li {
  list-style-type: none;
  border: 1px solid white;
  display: block;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin: 0 40px 0 0;
}

.market-research > li:hover {
  border: 1px solid limegreen;
  background-color: limegreen;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.banner-animation-delay {
  background-color: limegreen;
  height: 100%;
  width: 0%;
  animation: expandWidthDelay 10s ease infinite forwards;
  animation-delay: 3s;
}
.banner-animation {
  background-color: limegreen;
  height: 100%;
  width: 0%;
  animation: expandWidth 10s ease infinite forwards;
  animation-delay: 3s;
}

@keyframes expandWidth {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes expandWidthDelay {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.btn-black {
  height: 50px;
  padding: 5px 15px;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #ddd;
  font-size: 1.1rem;
}

.btn-black:hover {
  background-color: #ddd;
  color: #333;
  transition: all 0.5s ease;
  cursor: pointer;
}
